<div class="col-sm-12" style="padding: 10px 30px 10px 30px">
<h1>  Admin</h1>
<hr>
<div class="container center-block" style="margin: 0px 20px 0px 10px; padding-right: 50px">
  <ul class="nav nav-tabs center">
    <li class="active"><a href="#">Users</a></li>
    <li><a href="#">Projects</a></li>

  </ul>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Password</th>
      <th>Last Access</th>

      <th>Edit</th>


    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">



</div>
</div>

<script>
    $( document ).ready(function() {

    });

</script>