<div id="home_section" class="home_section animated lightSpeedIn" >
  <h1 style="color: white">Start with Us!!!</h1>
  <h3 style="color: white">Pedro Grand & Juan Esteban Vejar</h3>
  <a href="/projects"><button class="btn btn-primary" >Projects</button></a>
</div>
<script>
    function BodySize()
    {
        var body = $("#home_section");
        var size = body.height();
        if (size < 850)
        {
            body.css("height","850px")
        }
    }
    $(document).ready(function () {
        BodySize();
    });
</script>