<div style="width: 40%;margin-left: 30%;">
  <h1 style="color: white">Start with Us!!!</h1>
  <h3 style="color: white">Pedro Grand & Juan Esteban Vejar</h3>
  <a href="/projects"><button class="btn btn-primary" >Projects</button></a>
</div>