// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center
{
  color: white;
  width: 20%;
  margin-left: 25%;
  margin-top: 10%;
}

*
{
  font-family: 'Roboto Slab', sans-serif;
}

.project_show_Table
{
  width: 80%;
  margin-left: 12%;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}

.project_view
{
  background-color: rgba(0,0,0,0.6);
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  color: white;
}

.project_view .my_row
{
  border-bottom: solid 2px;
  border-bottom-color: #B00100;
  padding-top: 2px;
}

.profile
{
  color: white;
  width: 80%;
  margin-left: 12%;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}