// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home CSS

.home_section
{
  color: white;
  width: 60%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  height: 700px;
  margin-left: 20%;
  text-align: center;
}

.home_section .project_row
{
  height: 230px;
  width: 90%;
  margin-left: 5%;
  background: rgba(0,0,0,0.8);
  margin-top: 50px;
  border-radius: 10px;
}

.home_section .project_row img
{
  margin-top: 20px;
  float: left;
  margin-left: 20px;
  height: 150px;
  width: 100px;
}
.home_section .project_row .title
{
  width: 90%;
  font-size: 20px;
}
.home_section .project_row .description
{
  width: 90%;
  margin-left: 8%;
  height: 80%;
}

// Login CSS

.login_section
{
  padding: 10px 20px 20px 20px;
  color: white;
  width: 20%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-left: 40%;
}


// Sign Up CSS

.sign_up_section
{
  padding: 10px 20px 20px 20px;
  color: white;
  width: 30%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-left: 35%;
}

//Recovery password CSS
.forgot_password_section
{
  padding: 10px 20px 20px 20px;
  color: white;
  width: 30%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-left: 35%;
}







.center
{
  color: white;
  width: 20%;
  margin-left: 25%;
  margin-top: 10%;
}

*
{
  font-family: 'Roboto Slab', sans-serif;
}

// Projects CSS

.project_show_Table
{
  color: white;
  width: 80%;
  margin-left: 12%;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}

.project_view
{
  background-color: rgba(0,0,0,0.6);
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  color: white;
}

.project_create_view
{
  background-color: rgba(0,0,0,0.6);
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  color: white;
}

.project_create_view div
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.project_create_view div label
{
  width: 100px;
}
.project_create_view div textarea
{
  color: black;
  border-radius: 5px;
  margin-left: 104px;
  margin-top: -24px;
  width: 80%;
  height: 200px;
}
.project_create_view div input
{
  color: black;
  width: 80%;
  border-radius: 5px;
}

.project_create_view div select
{
  border-radius: 5px;
  color: black;
}
.project_view .my_row
{
  border-bottom: solid 2px;
  border-bottom-color: white;
  padding-top: 2px;
}
.project_view .my_row_promises
{
  height: 150px;
  border-bottom: solid 2px;
  border-bottom-color: white;
  padding-top: 2px;
}


.promises_view
{
  background-color: rgba(0,0,0,0.6);
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
  margin-top: 40px;
  width: 60%;
  margin-left: 20%;

  color: white;
}
.promises_view .my_row
{
  border-bottom: solid 2px;
  border-bottom-color: white;
  padding-top: 2px;
}
.my_row_promises
{
  height: 150px;
  border-bottom: solid 2px;
  border-bottom-color: white;
  padding-top: 2px;
}



.my_left_button
{
  float: right;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: transparent;
  width: 30px;
  margin-top: 8%;
  margin-right: 27%;
}

.my_right_button
{
  float: right;
  margin-right: 2%;
  margin-top: 8%;
  width: 30px;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: transparent;
}

.my_left_button i
.my_right_button i
{
  height: 50px;
}

.promises-manage-button
{
  color: white;
  height: 50px;
  width: 30px;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  border: transparent;
}

.promises-manage-button-left{
  color: white;
  height: 50px;
  width: 30px;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  border: transparent;
  margin-top: 8%;
  margin-left: 17%;
}
.promises-manage-button-right{
  color: white;
  height: 50px;
  width: 30px;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  border: transparent;
  margin-left: 80%;
  margin-top: 8%;

}
.promises-manage-button-right img
{
  height: 80px;
  width: 30px;
}
.promises-manage-button-left img
{
  height: 80px;
  width: 30px;
  transform: rotate(180deg);
}

.promise_payment_form
{
  width: 50%;
  height: 400px;
  background: rgba(0,0,0,0.6);
  margin-left: 25%;
  margin-top: 20px;
  color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}


// Profile CSS

.profile
{
  color: white;
  width: 80%;
  margin-left: 12%;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}

.new_category_section{
  width: 50%;
  height: 400px;
  background: rgba(0,0,0,0.6);
  margin-left: 25%;
  margin-top: 20px;
  color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}
.new_category_section .row{
  height: 50px;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
.new_category_section .row .field {
  color: black;
  width: 40%;
  border-radius: 5px;
}