<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Hello <%= @user_solitude.profile.name %></h1>
  <p>
    You have a fund pending for you project <%= @project.title %>
    <br>
  </p>
  <p>

  <br>
  <p>
    You can accept or reject it in this url: <%= "http://localhost:3000" + @url %>
  </p>
  </body>
</html>